.word-list {
  margin-top: 4%;
}

.word-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.score-wrapper:hover > i {
  color: #c36c57;
}

.word {
  display: flex;
  width: 50%;
  margin-left: 2%;
}

.score {
  margin-top: 3%;
  font-size: 1.5em;
  font-family: 'Mate SC', serif;
}

.fas {
  margin-top: 3%;
  margin-left: 6%;
  color: transparent;
}

.score-wrapper {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-message {
  text-align: center;
  font-family: 'Mate SC', serif;
  font-size: 2em;
  margin: 5% 0;
  word-spacing: .06em;
}

@media screen and (max-width: 470px) {
  .word-item {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    height: 30%;
  }

  .score {
    margin-bottom: 0;
  }

  .fas {
    padding-top: 0;
    margin-top: 0;
    padding-right: 1%;
    margin-bottom: 0;
  }

  .score-wrapper {
    width: 100%;
  }
}


