.word-list {
  margin-top: 4%;
}

.word-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.word {
  display: flex;
  width: 50%;
  margin-left: 2%;
}

.score {
  margin-top: 3%;
  font-size: 1.5em;
  font-family: 'Mate SC', serif;
}


