a {
  text-decoration: none;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 4%;
}

.intro {
  padding: 2% 5% 1% 5%;
  font-size: 1.3em;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .word-tiles {
    justify-content: center;
  }
}

@media screen and (max-width: 518px) {
  .word-tiles {
    flex-direction: column;
  }

  .welcome {
   flex-direction: row;
   align-items: flex-start;
   padding-left: 2%;
  }

  .welcome-section {
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
  }

  .start {
    margin-top: 10%;
  }
}