html, body {
  height: 100%;
  width: 100%;
  position: fixed;
  background: #c36c57;
}

.root {
  height: 100%;
  width: 100%;
}
.main {
  height: 100%;
  width: 100%;
  background: #ce8f7a;
  color: black;
  font-family: 'Open Sans', sans-serif;
}