html, body {
  height: 100%;
  width: 100%;
  position: fixed;
  background: #c36c57;
}

.root {
  height: 100%;
  width: 100%;
}
.main {
  height: 100%;
  width: 100%;
  background: #ce8f7a;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

button {
  padding: 1%;
  width: 100%;
  font-size: 1.5em;
  background: #dfbf93;
  border: 2px solid transparent;
  font-family: 'Mate SC', serif;
}

button:hover {
  border: 2px solid black;
}

button:active {
  border: 2px solid black;
  background: #BB945F
}