html, body, .root, .main {
  min-height: 100%;
  overflow: auto;
  background: #c36c57;
}

body, .root, .main{
  height: 100vh;
}

.main {
  width: 100%;
  margin: 0;
  background: #ce8f7a;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

button {
  padding: 1%;
  width: 100%;
  font-size: 1.5em;
  background: #dfbf93;
  border: 2px solid transparent;
  font-family: 'Mate SC', serif;
}

button:hover {
  border: 2px solid black;
}

button:active {
  border: 2px solid black;
  background: #BB945F
}